
{% extends 'base.html' %}
{% block body %}

<div class="app" style="text-align: center;">
    <h1>Stocks</h1>
</div>

<div class="card-content">
    <div class="card-body">
        <p class="command">
            Update Stocks
        </p>
        <form action="/" method="POST" id='h1'>
            <label for="card">Size</label>
            <div class="col-lg-4 mb-1">
                <div class="input-group mb-3">
                    <select class="card" name="product_size">
                        <option name="product_size" value="1/4">1/4 inch</option>
                        <option name="product_size" value="3/8">3/8 inch</option>
                        <option name="product_size" value="3/4">3/4 inch</option>
                        <option name="product_size" value="1/2">1/2 inch</option>
                        <option name="product_size" value="1">1 inch</option>
                        <option name="product_size" value="1|1/2">1|1/2 inch</option>
                        <option name="product_size" value="2">2 inch</option>
                        <option name="product_size" value="2|1/2">2|1/2 inch</option>
                        <option name="product_size" value="3">3 inch</option>
                        <option name="product_size" value="4">4 inch</option>
                        <option name="product_size" value="5">5 inch</option>
                        <option name="product_size" value="6">6 inch</option>
                        <option name="product_size" value="7">7 inch</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-1">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">PN</span>
                        <input type="text" class="form-control" placeholder="Product Name" name="product_name">
                    </div>
                </div>
                <div class="col-lg-4 mb-1">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2"></span>
                        <input type="number" class="form-control" placeholder="Product Quantity"
                            name="product_quantity">
                    </div>
                </div>
                <div class="col-lg-4 mb-1">
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" name="product_per_price" placeholder="Per Price">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">save</button>
        </form>
    </div>
</div>

<section class="section">
    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="command">Stocks</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p class="command">All Stocks
                        </p>
                    </div>
                    <!-- table bordered -->
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <tr>
                                    <th scope='col'>SNo</th>
                                    <th scope='col'>Date</th>
                                    <th scope='col'>Product Size</th>
                                    <th scope='col'>Product Name</th>
                                    <th scope='col'>Product Quantity</th>
                                    <th scope='col'>Product Per Price</th>
                                    <th scope='col'>Update</th>
                                    <th scope='col'>Remove</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for stock in stocks %}
                                <tr>
                                    <td class="text-bold-500">{{loop.index}}</td>
                                    <td class="text-bold-500">{{stock.date_created}}</td>
                                    <td class="text-bold-500">{{stock.product_size}} inch</td>
                                    <td>{{stock.product_name}}</td>
                                    <td>{{stock.product_quantity}}</td>
                                    <td>{{stock.product_per_price}}</td>
                                    <td>
                                        <a href="/update/{{stock.sno}}" class="btn btn-dark" type="button">Update</a>
                                    </td>
                                    <td><a href="/delete/{{stock.sno}}" class="btn-del">!Remove</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}